body {
    margin: 0 auto;
    padding: 0;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 200;
}

a {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 200;
}

nav {
    width: 100vw;
    height: 10vw;
    background-color: white;
    display: inline-block;
}

nav li a {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 300;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
